
                <article class='col-md-4 post' data-id="<%=post.id%>">
                  <header>
                    <h2 class='title'><%= post.title %></h2>
                    <p class='updatedAt'> <%= post.updated_at %> </p>
                  </header>
                  <p class='tagNames'> <%= post.tag_names %> </p>
                  <p class='address'> <%= post.address %> </p>
                  <div>
                    <p><%= image_tag post.picture.url(:medium), class:'uploaded-pic'%></p>
                  </div>
                  <p> <%= post.caption %> </p>
                  <p>
                    <% post.hashtags.each do |tag| %>
                     <%= link_to tag.name, hashtag_path(tag)%> 
                    <% end %>
                  </p>
                  <footer>
                    <% if post.user == current_user %>
                      <%= button_to "Delete", post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>

                    <% if liked?(post, current_user)%>
                      <% like = post.likes.find_by(user_id: current_user.id) %>
                      <%= link_to "♥ #{post.likes.count}", post_likes_path(post), :class => 'btn btn-lg btn-default btn-unlike'%>
                    <% else %>
                      <%= link_to "♥ #{post.likes.count}", post_likes_path(post), :class => 'btn btn-lg btn-default btn-like'%>
                    <% end %>

                  </footer>    
                </article>
        

