
<h1> Post </h1>

<p> Title : <%= @post.title %> </p>
<p> Caption : <%= @post.caption %> </p>
<p> Hashtags: <%= @post.tag_names %> </p>

<% @post.hashtags.each do |tag| %>
	<%= link_to tag.name, hashtag_path(tag)%> 
<% end %>

<p> Picture: <%= image_tag @post.picture.url %> </p>
<p> Address: <%= @post.address %> </p>

<%= link_to 'Back', posts_path%>


